<!DOCTYPE html>
<html lang="zh-CN">

<head>
		
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>springBootDemo实例BootStrap</title>
<!--样式文件引用-->
		<link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

		</head>
    <body>
    
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-345011">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-345011">
					</li>
					<li data-slide-to="1" data-target="#carousel-345011">
					</li>
					<li data-slide-to="2" data-target="#carousel-345011">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
					<!--  <img alt="" src="http://ibootstrap-file.b0.upaiyun.com/lorempixel.com/1600/500/sports/1/default.jpg" />-->	
						<img alt="" src="images/5.jpg" height="300" width="200" />
						<div class="carousel-caption">
							<h4>
								My lover
							</h4>
							<p>
								Where there is great love,there are always miracles.</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="images/8.jpg" height="300" width="200"/>
						<div class="carousel-caption">
							<h4>
								My lover
							</h4>
							<p>
								I know someone in the world is waiting for me, I’ve no idea of who he is but I feel happy every day because of this.</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="images/7.jpg" height="300" width="200"/>
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-345011" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-345011" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					 <a href="#">首页</a>
				</li>
				<li>
					 <a href="#">简介</a>
				</li>
				<li class="disabled">
					 <a href="#">信息</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="#">操作</a>
						</li>
						<li>
							 <a href="#">设置栏目</a>
						</li>
						<li>
							 <a href="#">更多设置</a>
						</li>
						<li class="divider">
						</li>
						<li>
							 <a href="#">分割线</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="page-header">
				<h1>
					Create By zcong QQ：2632652610
				</h1>
			</div>
			<div class="form-group">
					 <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" value="2632652610@qq.com" readonly="readonly"/>
				</div>
			<form role="form" method="post" enctype="multipart/form-data" action="upload2">
				<div class="form-group" >
				  
				<input name="file" type="file" id="exampleInputFile" /></p>
				
				</div>
			 <button type="submit" class="btn btn-default">Submit</button>
			</form>
			<div class="jumbotron">
				<h1>
					picture list
				</h1>
				<p>
					<img alt="" src="images/1.png" />
					<img alt="" src="images/2.png" />
					<img alt="" src="images/3.png" />
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
</div>
    </body>
</html>